
.containerVideo
{
  align-items: center;
  display: flex;
  height: 100vh;

  height: 141px; width:141px;
}

.img {
  opacity: 0.25;
   filter: alpha(opacity=50);
    position: relative; /* position: relative, absolute, fixed 를 이용할 경우, z-index 사용가능 */
    /*left: 95px;*/
    /*align-self: center;*/
    top:  -170px;

}

.img1 {

  opacity: 0.3;
   filter: alpha(opacity=50);
    position: absolute;
    left: 50%;
    transform: translateX(121%) translateY(1170%); */
    /*transform: translateX(-50%) translateY(13%); */

    /*left: 95px;
    top:  70px;*/
    z-index: -2;
}

.myboxVideo { border:1px solid #46565b; border-radius: 5px;
 padding:0px; width: 45px; height: 45px; }

.cardVideo {
  align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  /*box-shadow: 0px 0px 100px 1px rgba(0,0,0,.1); */
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 135px; /* 너비 80에 보더가 1씩, 총3개의 사각형이 있으니 80*3 =240 에서, 3개의 사각형 양 변 6개 * 보더 2 = 252 현재가 아닌 아주 이전~~ 상태에 대한 설명인듯.*/
  height: 135px;
}


.container1 {
  /* align-items: center; */
  display: flex;
  height: flex;
  justify-content: center;

}
.mybox {
  border:1px solid #46565b;
  border-radius: 5px;
  padding:0px;
  width: 65px;
  height: 65px; }

.card {
  align-content: flex-start;
  background: #fff;
  /*box-shadow: 0px 0px 100px 1px rgba(0,0,0,.1); */
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 203px; /* 너비 80에 보더가 1씩, 총3개의 사각형이 있으니 80*3 =240 에서, 3개의 사각형 양 변 6개 * 보더 2 = 252*/
  height: 202px;
}





.til {

  height: 65px;
  margin: 0;
  width: 65px;

}

.dark{
  background: #282828
}

.blue {
  background: #40bfb6;
}

.brown {
  background: #4c1f00;
}

.orange {
  background: #ff7000;
}

.yellow {
  background: #ffbe00;
}


.contract {
  box-shadow: inset 0px 0px 0px 30px rgba(0,0,0,.7);
  transition: box-shadow 2s ease;
}

.expand {
  box-shadow: none;
  transition: box-shadow 2s ease;
}

/* 맨위로 올라가는 버튼 시작 */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: skyblue;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
/* 맨위로 올라가는 버튼 끝 */


/* 토글스위치 시작 */
.onoffswitch {
    position: relative; width: 161px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1.5px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 33px; padding: 0; line-height: 33px;
    font-size: 23px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: lighter;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "scan";
    padding-left: 5px;
    background-color: #FFFFFF; color: #9E9B9B;
}
.onoffswitch-inner:after {
    content: "upload";
    padding-right: 5px;
    background-color: #FFFFFF; color: #9E9B9B;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 124px;
    border: 1.5px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/* 토글스위치 끝 */



/* 비코드 스캔 버튼 */
.block {
    display: block;
    width : 1025px; /* 가로 최대값 설정 */
    height: 35px; /* 가로 최대값 설정 */
    max-width : 100%; /* 가로 최대값보다 작으면 화면 100% 차지 설정*/
    border: none;
    background-color: #377bb5;
    color: white;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin:0 auto; /* 버튼 가운데 정렬 */
}

.block:hover {
    background-color: #377bbf;
    color: white;
}

.block:active {
  background-color: #377bb5;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
