body {
  background: #ffaa01;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.card {
  align-content: flex-start;
  background: #fff;
  box-shadow: 0px 0px 100px 5px rgba(0,0,0,.3);
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 300px;
  height: 300px;
}

.tile {
  height: 100px;
  margin: 0;
  width: 100px;
}

.red {
  background: #cf1d35;
}

.dark{
  background: #282828
}

.blue {
  background: #40bfb6;
}

.brown {
  background: #4c1f00;
}

.orange {
  background: #ff7000;
}

.yellow {
  background: #ffbe00;
}

.main {
  animation:sonar 5s infinite;
  background: black;
  color: white;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Ravi Prakash', cursive;
  line-height: 110px;
  text-align: center;
  text-margin-top: 350px
  text-shadow: 0px 0px #ffaa01;
  width: 400px;
  height : 150px;
}

.main:before {
  content: "bCODE";
}

.contract {
  box-shadow: inset 0px 0px 0px 30px rgba(0,0,0,.7);
  transition: box-shadow 2s ease;
}

.expand {
  box-shadow: none;
  transition: box-shadow 2s ease;
}


@keyframes sonar {
  80% {
    text-shadow:0px 0px #ffaa01;
  }
  100% {
    text-shadow:5px 5px black,-5px 5px black,
      -5px -5px black,5px -5px black;
  }
}
