<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>My bCODE</h1>
        <p>나만의 비코드!! </p>
      </div>
    </div>
  </body>
</html>
